@import 'variables';
@import '_mixins';


*{
    margin: 0;
    padding: 0;
}


.contenido{

    max-width: 1100px;
    margin: 0 auto;

    display: grid;
    grid-template-rows: 80px 400px 80px;
    grid-template-columns: 3fr 1fr;
    gap: 5px;
    height: 100vh;

}



header{

    
    grid-column: 1 / 3;
    background: #f38c66;
    color: white;
}

main{
    background: #8a0000;
    color: white;
    
}


aside{
    background-color: cadetblue;

   
}

footer{
    grid-column: 1 / 3;
    background: #001f7a;
     
}