
// Formato tablet

@mixin tablet{

    @media(min-width: $formatotablet){

        @content;
    }


}



//Formato web

@mixin web{

    @media(min-width: $formatoweb){
        
        @content;
    }

}