@import '_variables';
@import '_mixins';

*{
    margin: 0;
    padding: 0;
}

.contenido{

    /*Para Moviles*/
    max-width: 1100px;
    margin: 0 auto;

    display: grid;

    /*Espacio entre hijos*/
    grid-gap: 5px;
   
    height: 100vh;

        @include tablet{

                grid-template-rows: 15% 35% 35% 15%;
                grid-template-columns: repeat(4,25%);

                /*Espacio entre hijos*/
                 grid-gap: 10px;
        }

                header{

                    /*Dise単o*/

                    text-align: center;
                    background: #f38c66;
                    color: white;

                    @include tablet{

                    /*Le asigno las propiedades de grid*/
                        grid-column-start:1 ;
                        grid-column-end: 5;
            

                    }

                   
                }

                main{
                    /*Dise単o*/
                    background: #8a0000;
                    color: white;


                      @include tablet{

                        /*Le asigno las propiedades de grid*/

                    
                        grid-column: 1/4;
                        grid-row: 2/4;
                        

                    }

                }


                aside{

                    /*Dise単o*/
                    background-color: cadetblue;

                     @include tablet{

                        /*Le asigno las propiedades de grid*/
                            grid-column: 4/5;
                            grid-row: 2/4;
                    
                        

                    }
                    

                }

                footer{

                    
                    /*Dise単o*/
                    background: #001f7a;

                     @include tablet{

                        grid-column-start:1 ;
                        grid-column-end: 5;
                        

                    }
                    


                }

}


