@import '_variables';
@import '_mixins';


*{
    margin: 0;
    padding: 0;
}

.contenido{

    /*Para Moviles*/
    max-width: 1100px;
    margin: 0 auto;

    display: grid;

    /*Espacio entre hijos*/
    grid-gap: 5px;
   
    height: 100vh;

        @include tablet{

        grid-template-rows: 5% 40% 40% 40% 5%;
        grid-template-columns: repeat(3,1fr);

                /*Espacio entre hijos*/
                 grid-gap: 10px;
            
        }

        @include web{

                grid-template-rows: 5% 40% 40% 5%;
                grid-template-columns: repeat(4,1fr);

               
        }

                header{

                    /*Diseño*/

                    text-align: center;
                    background: #f38c66;
                    color: white;

                    @include tablet{

                    /*Le asigno las propiedades de grid*/
                        grid-column: 1/-1;  //ocupa todo siempre
                        
                    }

                   
                }

                main{
                    /*Diseño y propiedades grid para el padre*/
                    
                    

                    @include tablet{
                        display: grid;
                        grid-column: 1/3;
                        grid-row: 2/4;
                      
                        grid-template-columns: repeat(2,1fr);
                        grid-template-rows: repeat(2,1fr);


                    }

                   @include web{

                    grid-column: 1/4;
                    grid-row: 2/4;

                    grid-template-columns: repeat(3,1fr);
                    grid-template-rows: repeat(2,1fr);

                   
                    

                   }
                        .article{

                                display: grid;
                                min-width: 200px;
                            


                        }

                        article img{
                            /*Para que la imagenes tenga el tamaño*/
                                width: 100%;
                                height: 200px;


                        }
                   



                }


                aside{

                    /*Diseño*/
                    background-color: cadetblue;

                     @include tablet{

                        /*Le asigno las propiedades de grid*/
                            grid-column: 3/4;
                            grid-row: 2/5;
                    
                    }

                    @include web{

                        grid-column: 4/5;
                        /*row igual que en tablet*/
                    }
                    

                }

                footer{

                    
                    /*Diseño*/
                    background: #001f7a;

                     @include tablet{

                         grid-column: 1/5;
                         grid-row: 5/5;
                        

                    }

                    @include web{

                        grid-column: 1/5;
                        grid-row: 4/4;


                    }
                    


                }

}

